<h2>Create Stock Form</h2>

<div class="form-group">
    <form (ngSubmit)="createStock()">
        <div class="stock-name">
            <input type="text" placeholder="Stock Name" 
                   name="stockname"
                   [(ngModel)]="stock.name">
        </div>
        <div class="stock-code">
                <input type="text" placeholder="Stock Code" 
                       name="stockcode"
                       [(ngModel)]="stock.code">
        </div>
        <div class="stock-code">
                <input type="text" placeholder="Stock Price" 
                       name="stockprice"
                       [ngModel]="stock.code"
                       (ngModelChange)="setStockePrice($event)"
                       >
        </div>        
        <div class="stock-exchange">
                <input type="radio" name="stockexchange"
                    [(ngModel)]="stock.exchange" value="NYSE">NYSE
                <input type="radio" name="stockexchange"
                    [(ngModel)]="stock.exchange" value="NASDAQ">NASDAQ                       
                <input type="radio" name="stockexchange"
                    [(ngModel)]="stock.exchange" value="OTHER">OTHER
        </div>        
        <div class="stock-confirm">
            <input type="checkbox" name="stockConfirm" [(ngModel)]="confirmed">
            I confirm that the information provided above is accurate!
        </div>
        <button [disabled]="!confirmed" type='submit'>Create</button>
    </form>
</div>

<h4>Stock Name is {{ stock | json }}</h4>