<h1>Component Lifecycle</h1>
<h2>ngOnChanges</h2>

<input [(ngModel)] = "apptext">
<app-my-on-changes [text] = "apptext"></app-my-on-changes>

<hr>
<h2>ngOnInit</h2>

<label>
  <input type="checkbox" [(ngModel)]="showNgOnInit">
</label>

<ng-container *ngIf="showNgOnInit">
  <app-my-on-init></app-my-on-init>
</ng-container>

<hr>
<h2>ngDoCheck</h2>
<app-my-do-check></app-my-do-check>


<!--

<hr>
<h2>ngAfterContentInit</h2>
<app-after-content-init-demo>
  <app-after-content-init-child></app-after-content-init-child>
</app-after-content-init-demo>

<hr>
<h2>ngAfterViewInit</h2>
<app-after-view-init-demo></app-after-view-init-demo>

<hr>
<h2>ngOnDestroy</h2>
<label>
  <input type="checkbox" [(ngModel)]="showNgOnDestroy">
  Toggle ngOnDestroy demo
</label>

<ng-container *ngIf="showNgOnDestroy">
  <app-on-destroy-demo></app-on-destroy-demo>
</ng-container> -->
