<div class="product-item" [class]="product.isOnSale ? 'product-item sale' : 'product-item notsale'">
  <div>
    <img [src]="product.imageUrl">
  </div>
  <div class="details">
    <div>{{product.name}}</div>
    <div>$ {{product.price}}</div>
    <div>
      <button (click)="decrementInCart()" [disabled]="product.quantityInCart == 0">-</button>
      <span>{{product.quantityInCart}}</span>
      <button (click)="increatmentInCart()">+</button>
    </div>
    <div>
      <button (click)="switchSale()">Switch Sale</button>
    </div>
  </div>
</div>
