<div class="product-item" [ngClass]="calculateClasses()">
  <div>
    <img [src]="product.imageUrl">
  </div>
  <div class="details">
    <div>{{product.name}}</div>
    <div>$ {{product.price}}</div>
    <div>
      <button (click)="decrementInCart()" [disabled]="product.quantityInCart == 0">-</button>
      <span>{{product.quantityInCart}}</span>
      <button (click)="increatmentInCart()">+</button>
    </div>
    <div>
      <button (click)="switchSale($event)">Switch Sale</button>
      <div>
      <span>{{product.isOnSale ? 'OnSale':"Not OnSale"}} </span>
      </div>
    </div>
  </div>
</div>
