<!-- <app-list>
  <app-list-item></app-list-item>
  <app-list-item></app-list-item>
  <app-list-item></app-list-item>
</app-list>

<hr>

<app-list>
  <app-list-item></app-list-item>
  <app-list-item></app-list-item>
  <app-list-item></app-list-item>
</app-list> -->

<app-mylist #myList>
  <app-mylist-item></app-mylist-item>
  <app-mylist-item></app-mylist-item>
  <app-mylist-item></app-mylist-item>
</app-mylist>

<hr>

<app-mylist>
  <app-mylist-item></app-mylist-item>
  <app-mylist-item></app-mylist-item>
  <app-mylist-item></app-mylist-item>
</app-mylist>
