.stock-contiainer {
    border: 1px solid black;
    // border-radius: 5px;
    // display: inline-block;
    padding: 10px;
}

.stock-contiainer .name h3, .stock-contiainer .price h4 {
    display: inline-block;
}